

html {
    font-size: 30px;
    background-color: rgb(34, 40, 49);
}

body {

}

.mainTitle
{
  color: rgb(105, 237, 162);
  text-align: center;
  font-family: cursive;
  text-shadow: 2px 2px 3px rgb(255,205,148);
  padding: 10px;
  border-radius: 8px;
  transition: color 0.6s , transform 0.3s;
  font-style: italic;
}

.mainTitle:hover {
    color: rgb(255, 165,0);
}

.introparagraph {
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    text-align: right;
    line-height: 1.5;
    font-weight: bold;
    padding: 10px;
    margin: 20px;
    color: aliceblue;
}

#introductionButton {
    background-color: #3498DB;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s , transform 0.3s;
}

#introductionButton:hover {
    background-color: #2980b9;
    transform: scale(1.05) rotate(-1deg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.explain {
    color: rgb( 255 , 245 , 220);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 32px;
}

.iostreamWord {
    color: #1E90FF;
    font-weight: bold;
    border-color: #F0F8FF;
    padding: 2px;
    border-radius: 3px;
    display: inline-block;
}

.howtowrite {
    color: rgb(244, 178, 112);
    margin-top: 10px;
    line-height: 2;
}

.iostreamMeaning {
    color: rgb(255 , 245 , 220);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 32px;
    
}

#iletter {
    font-size: 32px;
    color: rgb(246, 5, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#imeaning {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(246 , 5 , 5);
}



#oletter {
    font-size: 32px;
    color: rgb(246, 5, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#omeaning {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(246 , 5 , 5);
}

#streamword {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(246 , 5 , 5);
}

#mainfunction {
    color: #1E90FF;
    font-weight: bold;
    border-color: #F0F8FF;
    padding: 2px;
    border-radius: 3px;
    display: inline-block;
}

#alert {
    color: red;
}

#alertparagraph {
    color: rgb(248, 163, 60);
    font-style: normal;
}
